.documentation {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-family: "Sky Text", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/public/pattern-randomized.svg') no-repeat center center/cover;
}

.documentation .ipm-card {
    background-color: rgba(101, 94, 94, 0.2);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 1200px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(90, 89, 89, 0.3);
    margin-top: 50px;
}

.documentation h1 {
    font-size: 2.5rem;
    text-align: center; /* Keep heading centered */
    margin-bottom: 20px;
    background: linear-gradient(to right, #ff6b00, #d6336c, #4266f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.documentation h2, h3 {
    margin: 20px 0;
    text-decoration: underline;
    color: #444;
    text-align: center; /* Keep subheadings centered */
}

.documentation p, ul {
    align-items: start;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: left; /* Align paragraphs and lists to the left */
}

.documentation ul {
    padding-left: 20px;
}

.documentation li {
    margin-bottom: 10px;
}

.documentation a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.documentation .responsive-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: block; /* Ensure image is centered */
    margin-left: auto;
    margin-right: auto;
}
