
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  height: 100vh;
  text-align: center;
  background: url('/public/pattern-randomized.svg') no-repeat center center/cover;

}
.home-form-card {
  background-color: rgba(101, 94, 94, 0.2);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(90, 89, 89, 0.3);
}

.title {
  margin-top: 10px;
  font-size: 4rem;
  font-family: "Sky Text", sans-serif;
  margin-bottom: 1.5rem;
  background: linear-gradient(to bottom right, #ff6b00, #d6336c, #4266f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: auto;
  margin-bottom: 2rem;
}

.bottom-button-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
}


.home-button {
  font-family: "Sky Text", sans-serif;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2rem;
}

